<a href="https://colab.research.google.com/github/Drishti05/Python-for-Data-Science-Machine-Learning-from-A-Z/blob/main/Python_for_Data_Science/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets

- list where the elements can only be unique
- sets can not be indexed
- sets are mutable
- sets do not have order

## Creating a Set

In [8]:
my_set={1,5.2,"s"}
print(my_set)

{1, 's', 5.2}

In [9]:
print(type(my_set))

<class 'set'>

## Set indexing

In [1]:
my_set={1,2,3}
my_set[1]=1

TypeError: ignored

In [2]:
print(my_set[1])

TypeError: ignored

## Duplicated values

In [11]:
my_set={1,1,1,2,1}
my_set

{1, 2}

- when there are repeated values in the set it will only print unique values

## Add values into the set

In [4]:
my_set={1,2,3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

## Remove values from the set

In [6]:
my_set={1,2,3}
my_set.pop()
print(my_set)

{2, 3}