<a href="https://colab.research.google.com/github/Drishti05/Python-for-Data-Science-Machine-Learning-from-A-Z/blob/main/Python_for_Data_Science/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Special case of a list where the elements can not change
- Tuple is immutable
- We create tuple using circular brackets()
- Indexing and slicing are the same as lists

In [4]:
my_tuple=(1,2,5.3)
print(type(my_tuple))

<class 'tuple'>

In [2]:
print(my_tuple[1])

2

In [3]:
my_tuple[1]=4

TypeError: ignored

# Empty Tuples

In [6]:
empty_tuple=()
print(empty_tuple)
print(len(empty_tuple))
print(type(empty_tuple))

()
0
<class 'tuple'>

# Tuples with ONE element

In [7]:
tuple_one=("Ahmed")
print(type(tuple_one))
tuple_one=(2)
print(type(tuple_one))

<class 'str'>
<class 'int'>

## Use trailing comma

In [8]:
tuple_one=("Ahmed"),
print(type(tuple_one))
tuple_one=(2),
print(type(tuple_one))

<class 'tuple'>
<class 'tuple'>

# Tuple Packing

In [9]:
t= 12345 ,54321, 'hello!'
print(t)
print(type(t))

(12345, 54321, 'hello!')
<class 'tuple'>

# Sequence Packing

In [10]:
x,y,z=t
print(x)
print(y)
print(z)

12345
54321
hello!

#Tuple Functions

In [11]:
tuple_one=(2,1,2,3,2)
tuple_one.count(2)

3

In [12]:
tuple_one.index(3)

3